<h2> ADMINISTRATOR CONTROL PANEL </h2>
<hr>
	<div class="controlPanel">
		<a href="/admin/register">Register User as Admin</a>
		<a href="/image/new">Add Images</a>
		<a href="/image/find">Find Images</a>
	</div>
<hr>

<form action="/admin/register" method="POST">
	<h4> Give this user administrator access: </h4>
	<input type="text" name="username" placeholder="Enter username..."> <br />
	<br />
	<button>Make Administrator</button>
</form>