<form action="/admin/login" method="POST">
	<input type="text" name="username" placeholder="Enter username..."> <br />
	<input type="password" name="password" placeholder="Enter password..."> <br />
	<button>Log In</button>
</form>