<form action="/admin/register" method="POST">
	<h4> Give this user administrator access: </h4>
	<input type="text" name="username" placeholder="Enter username..."> <br />
	<br />
	<button>Make Administrator</button>
</form>