<h2> ADMINISTRATOR CONTROL PANEL </h2>
<hr>
	<div class="controlPanel">
		<a href="/admin/register">Register User as Admin</a>
		<a href="/image/new">Add Images</a>
		<a href="/image/find">Find Images</a>
	</div>
<hr>

<h3>Found Images</h3>