<h2> ADMINISTRATOR CONTROL PANEL </h2>
<hr>
	<div class="controlPanel">
		<a href="/admin/register">Register User as Admin</a>
		<a href="/image/new">Add Images</a>
		<a href="/image/find">Find Images</a>
	</div>
<hr>

<h3>Found Images</h3>

<% @images.each do |image| %>
	<p>Image ID: <%=image.id%> </p>
	<form action="/image/destroy/<%=image.id%>" method="POST">
		<button>DESTROY</button>
		<input hidden name="_method" value="DELETE">
	</form>
	<img class="thumbnail" src="<%=image.image_url%>" /> 
<% end %>