<h3> INSTRUCTIONS </h3>

<p>Howdy All! We (Dakotah, Nathan and Peter) are making a relational image app! The purpose of this app is to help us seed our database with tons of super cool images and one-word "tags" that will be associated with a particular image. We would greatly appreciate it if you could contribute! Even a few minutes of your time helping us would be appreciated. <br /> <br /> Click "Begin" below. You will be shown an image and a prompt. You may enter a one-word response in the field, which will bring up a new image and prompt. You may also click "skip" to go directly to the next image. Thanks in advance everyone! D, N, and P.</p>
<br />

<div class="center">
	<a href="/image">BEGIN</a>
</div>