<h3> ADD A NEW IMAGE TO DATABASE </h3>

<form action="/image/submit" method="POST"> 
	Image URL: <br />
	<input type="text" name="image_url" value="" placeholder="Image URL...">
	<button>SUBMIT</button>
</form>