<h2> ADMINISTRATOR CONTROL PANEL </h2>
<hr>
	<div class="controlPanel">
		<a href="/image/new">Add Images</a>
		<a href="/image/find">Find Images</a>
	</div>
<hr>

<h3> ADD A NEW IMAGE TO DATABASE </h3>

<form action="/image/submit" method="POST"> 
	Image URL: <br />
	<input type="text" name="image_url" value="" placeholder="Image URL...">
	<button>SUBMIT</button>
</form>