<h2>Register Page</h2>

<form action="/user/register" method="POST">
	<input type="text" name="username" placeholder="username"><br />
	<input type="password" name="password" placeholder="password"><br />
	<button>Login</button>
</form>
<small>Or already have an account. <a href="/user/login">Login</a></small>