<form action="/image/<%= @image_id %>" method="POST">
	<input type="text" name="tag" value="" placeholder="Enter word...">
	<br />
	<button>Submit</button>
</form>

<br />
<a href="/image">Skip</a>

<br />

<img src="<%= @image_url %>" /> 
