<h2>Register Page</h2>

<form action="/user/register" method="POST">
	<input type="text" name="username" placeholder="username"><br />
	<input type="password" name="password" placeholder="password"><br />
	<input type="hidden" name="is_admin" placeholder="t/f">
	<button>Register</button>
</form>
<small>Or already have an account. <a href="/user/login">Login</a></small>